@import url("https://fonts.googleapis.com/css?family=Edu SA Beginner");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
  font-family: Edu SA Beginner;
  overflow: hidden;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}


.cards{
  width: 50%;
  margin: 3%;
}

h5{
  margin-left: 65px;
}
